.banner{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner .title{
    margin-left: 100px;
    color: white;
    font-size: 40px;
}
.banner .buttons{
    margin-left: 90px;
}
.buttons .play{
    padding: 10px;
    width: 100px;
    cursor: pointer;
    margin: 10px;
    border: none;
    background-color: rgba(26, 26, 29, 0.466);
    color: white;
    border-radius:5px ;
    transition: all 1s ease-in;
    font-size: 17px;
    /* background:linear-gradient(to right,transparent ,black) */
}
.play:focus{
    outline: none;
} 
.play:hover{
    background-color: black;
}
.desc{
    width: 500px;
    margin-left: 100px;
    color: lightgray;
}